<!DOCTYPE html>
<html>
 <head>
 </head>
 <body>
  <h2>阴保设备系统</h2>
  <h2>首页</h2>
  <h2>设备管理</h2>
{#  <h3>恒电位仪</h3>#}
  <h3>智能测试桩</h3>
  <table style="border-collapse: collapse; width: 100%;" border="1">
   <tbody>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
    <tr>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
     <td style="width: 10%;">&nbsp;</td>
    </tr>
   </tbody>
  </table>
{#  <h2>异常分析</h2>#}
{#  <h3>恒电位仪</h3>#}
{#  <h3>智能测试桩</h3>#}
  <p>&nbsp;</p>
 </body>
</html>