<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div class="page-header text-center text-primary" style="margin: 10px auto">
        <h1>测试</h1>
    </div>
    <title></title>
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.1/dist/echarts.js"></script>
</head>

<body>

<div class="container" id="blur">
    <table border="1" style="margin:0 auto">
        <thead>
        <tr>
            <th scope="col">bsSubCompanyId</th>
            <th scope="col">bsMeasureControlPointId</th>
            <th scope="col">von2</th>
            <th scope="col">vac2</th>
            <th scope="col">von_Revised</th>
            <th scope="col">voff_Revised</th>
            <th scope="col">battery</th>
            <th scope="col">messageReceiveTimestamp</th>
            <th scope="col">IR</th>
            <th scope="col">pilotArea</th>
            <th scope="col">acPilotArea</th>
            <th scope="col">theState</th>
            <th scope="col">cSQ</th>
            <th scope="col">bsPipeId</th>
            <th scope="col">longitude</th>
            <th scope="col">latitude</th>
            <th scope="col">bsLocateMileage</th>
            <th scope="col">cellType</th>
            <th scope="col">vac</th>
            <th scope="col">taTimestamp</th>
            <th scope="col">More</th>
        </tr>
        </thead>
        <tbody>
        {# 需要将python的对象数据显示到浏览器上，模板语法比较出名的是jinjia2 #}
        {# 从数组中取出数据，slice切片，for循环 #}
        {#  用法{{ users }} #}
        {% for data in data %}
            <tr>
                <th>{{ data.bsSubCompanyId }}</th>
                <th>{{ data.bsMeasureControlPointId }}</th>
                <th>{{ data.von2 }}</th>
                <th>{{ data.vac2 }}</th>
                <th>{{ data.von_Revised }}</th>
                <th>{{ data.voff_Revised }}</th>
                <th>{{ data.battery }}</th>
                <th>{{ data.messageReceiveTimestamp }}</th>
                <th>{{ data.IR }}</th>
                <th>{{ data.pilotArea }}</th>
                <th>{{ data.acPilotArea }}</th>
                <th>{{ data.theState }}</th>
                <th>{{ data.cSQ }}</th>
                <th>{{ data.bsPipeId }}</th>
                <th>{{ data.longitude }}</th>
                <th>{{ data.latitude }}</th>
                <th>{{ data.bsLocateMileage }}</th>
                <th>{{ data.cellType }}</th>
                <th>{{ data.vac }}</th>
                <th>{{ data.taTimestamp }}</th>
                <th><a href="#" onclick="toggle()"><button type="button">Details</button></a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row text-center">
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-lg">
                <li {% if active_page == 1 %}class="disabled"{% endif %}>
                    <a href="{{ url_for('table', page=1) }}">首页</a></li>
                <li {% if active_page == 1 %}class="disabled"{% endif %}>
                    <a href="{{ url_for('table', page=active_page - 1) }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% for page in pages %}
                <li class="{% if active_page == page %}active{% endif %}">
                    <a href="{{ url_for('table', page=page)}}">{{ page}}</a></li>
                {% endfor %}
                <li {% if active_page == max_page %}class="disabled"{% endif %}>
                    <a href="{{ url_for('table', page=active_page + 1) }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li {% if active_page == max_page %}class="disabled"{% endif %}>
                    <a href="{{ url_for('table', page=max_page) }}">尾页</a></li>
                <li class="disabled"><a>共{{ max_page }}页</a></li>
            </ul>
        </nav>
    </div>
</div>

<div id="popup">
    <div id="main" style="width: 1000px;height:800px;"></div>
    <a href="#" onclick="toggle()"><button type="button">Close</button></a>
</div>

<script>
    function toggle() {
        let blur = document.getElementById('blur')
        blur.classList.toggle('active')
        let popup = document.getElementById('popup')
        popup.classList.toggle('active')
    }
</script>

<!--echarts部分, 横纵坐标传入的data都还不对, 只是测试过可以显示折线图了这样.-->
<script>
    var echarts_data = {{ data|tojson }}
    var arrayObj = new Array()
    for (var i=0;i<echarts_data.length;i++){
        arrayObj.push(echarts_data[i].von2);
    }
<!--    console.log(arrayObj)-->
</script>
<script src="../static/js/echarts_test.js" type="text/javascript"></script>

</body>
</html>